 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone #</th>
      <th scope="col">Area</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let var1 of salesMan | async; let index = index">
      <th scope="row">{{index+1}}</th>
      <td>{{var1.name}}</td>
      <td>{{var1.email}}</td>
      <td>{{var1.contact}}</td>
      <td>{{var1.area}}</td>
      <td><button type="button" class="btn btn-primary" (click)="onDelete(var1.key)"> Remove</button></td>
      <td><button type="button" class="btn btn-primary" (click)="onlocationClick(var1.key)" > Locations</button></td>
    </tr>
  </tbody> 

  
</table>   
  
 
