
 /* @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700);
  body {
      background: #e9eaed;
  }*/
 
/* #map {
    height: 500px;
} */

.header {
    background-image: url("./../../images/images2.png");
     background-size: 100% 250px;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    border: 1px dotted black;
    text-align: center;
    /*background: #777;*/
  }
  
  .header p {
    margin: 0 auto;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .profile {
    background-image: url("./../../images/images.png");
    background-size: 150px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1000;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    /*border-radius: 50%;*/
    /* background: white; */
    top: 200px;
    left: 70px;
    text-align: center;
  }
  
  .profile p {
    margin: 0 auto;
    line-height: 70px;
    color: #fff;
  }
  
  agm-map {
    height: 85vh;
  }
