.mylogout {
    /*left: 800px;*/
    position: relative;
    left: 55%;
}

.mylogo1 {
   background-image: url("./images/logo_1.png"); 
   width: 250px;
   height: 100px;
   display: inline-block;
   background-repeat: no-repeat;
   display: block;
   position: absolute;
    /* padding: 3px;*/
    /* display: inline-block; 
    background-repeat: no-repeat;
    left: 10px;
    padding-right: 10px; */

  
   
    /* background-repeat: no-repeat;
    position: absolute;
    z-index: 1000;
    width: 150px;
    height: 150px;
    border: 2px solid black;
 
    top: 200px;
    left: 70px;
    text-align: center */
}