<!-- <p>
  doctor works!
</p> -->
<a routerLink='/adddoctor' >
<!--<button (click)="save(key.value)" class="btn btn-primary"> Add </button>-->
</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Specialization</th>
      <th scope="col">Contact</th>
      <th scope="col">Area</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let var2 of Doctor | async; let index = index">
   
      <th scope="row">{{index+1}}</th>
      <td>{{var2.name}}</td>
      <td>{{var2.specialization}}</td>
      <td>{{var2.contact}}</td>
      <td>{{var2.area}}</td>
      <td><button type="button" class="btn btn-primary" (click)="onDelete(var2.key)"> Remove</button></td>
    </tr>
  </tbody>
</table>

<!--<table class="table table-responsive table-hover">
    <thead>
        <tr><th>#</th><th>Name</th><th>Specialization</th><th>Conttact</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let var2 of Doctor | async; let index = index" class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
            <td><i class="fa fa-plus" aria-hidden="true"></i></td>
            <td>{{var2.name}}</td>
          	<td>data</td>  
            <td>data</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-1" class="collapse">
        <tr *ngFor="let var2 of Doctor | async; let index = index">
            <td>- child row</td>
            <td>{{var2.name}}</td>
          	<td>data 1</td>  
            <td>data 1</td>
        </tr>
        <tr>
            <td>- child row</td>
            <td>data 1</td>
          	<td>data 1</td>  
            <td>data 1</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2">
            <td><i class="fa fa-plus" aria-hidden="true"></i></td>
            <td>data</td>
          	<td>data</td>  
            <td>data</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-2" class="collapse">
        <tr>
            <td>- child row</td>
            <td>data 2</td>
          	<td>data 2</td>  
            <td>data 2</td>
        </tr>
        <tr>
            <td>- child row</td>
            <td>data 2</td>
          	<td>data 2</td>  
            <td>data 2</td>
        </tr>
    </tbody>
</table>-->
